<!-- Header -->
<header>
  <!-- Nav bar here-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span class="navbar-brand mb-0 h1">Web 22 Survey</span></a>
      <a class="navbar-brand" href="/"><img src="../../public/assets/images/logo.jpg" alt="Logo" height="36"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>