/* Custom CSS goes here */
body {
  padding-bottom: 70px;
  }
  .navbar .navbar-brand img {
    padding-top: 10px;
    padding-bottom: 0px;
    height: 100%;
    width: auto;
    
  }
  .navbar .navbar-brand {
    padding: 0 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
